<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APIServiceSoap" allowCookies="true" maxReceivedMessageSize="50000000">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="APIServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="CredentialSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CredentialSoap1" />
        <binding name="APIServiceSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx"
        binding="basicHttpBinding" bindingConfiguration="APIServiceSoap"
        contract="DocuSignAPI.APIServiceSoap" name="APIServiceSoap" />
      <endpoint address="https://demo.docusign.net/api/3.0/credential.asmx"
        binding="basicHttpBinding" bindingConfiguration="CredentialSoap"
        contract="CredentialAPI.CredentialSoap" name="CredentialSoap" />
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx"
        binding="basicHttpBinding" bindingConfiguration="APIServiceSoap1"
        contract="DocuSignAPI.APIServiceSoap" name="APIServiceSoap1" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="20" maxSizeOfMessageToLog="500000"/>
    </diagnostics>
  </system.serviceModel>

  <appSettings>
    <add key="APIUrl" value="https://demo.docusign.net/api/3.0/api.asmx" />
    <!--
      <add key="APIAccountId" value="your account ID" />
      <add key="APIUserEmail" value="your login email address" />
      <add key="Password" value="your login password" />
      <add key="IntegratorsKey" value="your integrator's key" />
    -->
   
    <add key="APIAccountId" value="0e6191f5-21b8-41ed-8bc7-4b68fb803d46" />
    <add key="APIUserEmail" value="commfort@gmail.com" />
    <add key="Password" value="door11220" />
    <add key="IntegratorsKey" value="CLOU-2a330ac7-65b3-4af6-aaf7-04c4ffd6216e" />
  </appSettings>
</configuration>
